@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=DynaPuff:wght@400..700&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Sono:wght@200..800&display=swap');
body{
    background-color: rgb(223, 235, 236) ;
}
div{
    width: 800px;
    max-width: 95%;
    margin: 0 auto;
}
h1{
    color: rgb(251, 102, 251);
    font-size: 500%;
    font-family: "caprasimo", serif;
}
h2{
    color: rgb(79, 83, 159);
    font-size: xx-large;
    font-family: "dynapuff", sans-serif;
}
h3 h5{
    color: blue;
    font-family: "hubot sans", sans-serif;
}

p{
    font-family: "sono", monospace ;
}

header{
    background-color: rgb(173, 216, 230);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav{
    border-bottom: 4px solid  rgb(173, 216, 230);
}
nav li{
    display: inline-flex;
    margin: 10px;   
}
nav a{
    text-decoration: none;
    background-color: rgb(255, 153, 255);
    color: black;
    padding: 10px;
    border: 4px solid RGB(173, 216, 230); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
nav a:hover{
    text-decoration: solid;
    background-color:RGB(173, 216, 230);
    border-color: rgb(255, 153, 255);
    color: black;
}

footer{
    background-color:rgb(255, 153, 255);
    height: 50px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.col-md-6 {
    padding-right: 20px;
    padding-left: 20px;
}

.modal-dialog {
    max-width: 800px;
}
html{
    scroll-behavior: smooth;
}